# ========================================
# Unreal Engine 5 Specific
# ========================================

Binaries/*
Build/*
Content/*
DerivedDataCache/*
Intermediate/*
Saved/*
**/Mannequin
**/FirstPerson
**/FirstPersonBP
**/LearningKit_Games
**/FPS_Weapon_Bundle
**/AnimStarterPack
**/QuantumCharacter
**/UtopianCity
**/Animations
**/StarterContent
**/MarketplaceAssets
**/BlasterMapMeshes
.vs
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uproject